body {
    background-color: rgb(43, 32, 113);
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    font-size: normal;
    padding: 0;
    margin: 0;
}

.mainText {
    color: orange;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;

}

.subtitle {
    color: orange;
    font-size: 20px;
}


#cardAccount {
    margin-top: 50px;
    width: 25vw;
    height: auto;
    background-color: rgb(129, 10, 45);
    border: 3px solid orange;
    border-radius: 4px;
    padding: 20px;
    color: rgb(255, 255, 255);
    line-height: 20px;
}


#form {
    color: orange;
}